h1{
    color: aqua;
    background-color: blueviolet;
    text-align: center;
}
h2{
    font-weight: normal;
    font-variant: small-caps;
}
p{
    font-style: italic;
    font-size :25px; ;
}
span{
    font-weight: bold;
    color: aqua;
}
div{
    font: bold 12pt arial;
}